.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-form {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.App-form-element {
  margin: 10px;
}

.App-form-element input {
  margin-left: 3px;
}

.App-number {
  font-size: 2.5em;
  color: orange;
}

.App-error {
  font-size: small;
  color: red;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
